/* remove leaflet styling from popup to allow Grommet theme to drive */
/* thinking we might want to host this somewhere for people to import similar to leaflet's css */
/* source code for leaflet css: https://github.com/Leaflet/Leaflet/blob/main/dist/leaflet.css */
.leaflet-container {
	font-family: "Metric", Arial, Helvetica, sans-serif;
}
.leaflet-popup-content-wrapper {
    background-color: transparent;
    padding: 0px;
    box-shadow: none;
}
.leaflet-popup-content {
    padding: 0px;
    margin: 0px;
}
.leaflet-popup-content p {
    margin: 0;
}
.leaflet-popup-tip-container {
    width: 0px;
    height: 0px;
}
.leaflet-popup-tip {
    width: 0px;
    height: 0px;
    padding: 0px;
    box-shadow: none;
}
